<div class="row">
    <div class="col-xs-2">
        <button type="submit" class="btn btn-success btn-md float-end">Checkout</button>
    </div>
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <h4>Add items to the Shopping List</h4>
        <hr>
        <ul class="list-group">
            <a 
            class="list-group-item" 
            style="cursor: pointer"
            *ngFor="let ingredient of ingredients; let i = index"
            (click)="onEditItem(i)"
            >
            {{ ingredient.name }} {{ ingredient.quantity }} {{ ingredient.unit }}
            </a>
        </ul>
    </div>
</div>

